.menu-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.food-card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pizza-card{
  padding: 10px;
  flex:50%;
}

.burger-card{
  padding: 10px;
  flex:50%;
}

.pasta-card{
  padding: 10px;
  flex:50%;
}

@media (max-width: 750px) {
    .food-card-container {
      padding-top:60px;
      flex-direction: column;
      height: 800px;
      overflow: scroll;
    }
}


.menuimg{
    padding: 5px;
    width:150px;
    border-radius: 20px;
}

.order-modal{
  background-color: rgb(69, 68, 68) !important;
}